* {
    border: 0px;
    padding: 0px;

}


:root {
    --vermelho-forte: rgba(#FF0400);
    --vermelho-fraco: rgba(#FF3936);
    --branca: rgba(#ffffff);
    --cinza: rgba(#828282);
    --cinza-escuro: rgba(#191919);

}

/* -------------header------------- */

header {
    background-color: #FF3936;
    height: 10%;
    width: 100%;

}

/* -------------main------------- */

main {
    background-color: #404040;
    height: 80%;
    width: 100%;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#botao-inicio, #botao-login { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 10vw;
    border-radius: 20px;
    color: #ffffff;
    background-color: #FF3936;
}

/* -------------footer------------- */

footer {
    background-color: #FF3936;
    height: 10%;
    width: 100%;
}