* {
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
}


:root {
    --vermelho-forte: rgba(#FF0400);
    --vermelho-fraco: rgba(#d64846);
    --branca: rgba(#ffffff);
    --cinza: rgba(#828282);
    --cinza-escuro: rgba(#191919);
}

/* -------------header------------- */

header {
    background-color: #404040;
    height: 6vh;
    width: 100vw;
}

.back-button {
    border: 1px solid rgb(0, 0, 0);
    font-size: 2vh;
    background-color: #d64846;
    color: #ffffff;
    height: 3vh;
    width: 5vw;
    margin: 1.5vh;
    border-radius: 20vh;
}

.navbar {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.profilePhoto {
    height: 5.2vh;
    width: 2.6vw;
    border-radius: 30px;
    padding: 0.5vh;
}

/* -------------main------------- */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d64846;
    height: 88vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 50vw;
}

.style-text {
    font-size: 8vh;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 4vh;
}

.style-description {
    font-size: 5vh;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin-bottom: 20px;
}

.style-legenda {
    color: #ffffff;
    font-size: 2.5vh;
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

.myForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin: 5vh;
    margin-bottom: 20vh;
    margin-top: 7vh;
    max-width: 50vw;
}

.level {
    color: #ffffff;
    background-color: #404040;
    height: 14vh;
    width: 7vw;
    font-size: 3vh;
    border-radius: 100px;
    gap: 20vh;
    max-width: 14vh;
    max-height: 7vw;
}

.level:hover {
    background-color: #333333;
}

.task {
    background-color: #404040;
    font-size: 2vh;
    color: #ffffff;
    height: 7vh;
    width: 9vw;
    border-radius: 20vh;
    margin-bottom: 3vh;
}

.task:hover {
    background-color: #333333;
}

img {
    height: 8vh;
    width: 4vw;
    color: #ffffff;
}

.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* -------------footer------------- */

footer {
    background-color: #404040;
    height: 6vh;
    width: 100vw;
}