/* Global Styles */
* {
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
}

:root {
    --vermelho-forte: #FF0400;
    --vermelho-fraco: #d64846;
    --branco: #ffffff;
    --cinza: #828282;
    --cinza-escuro: #191919;
}

/* Header */
header {
    background-color: #302f2f;
    height: 6vh;
    width: 100vw;
}

.header-title {
    color: var(--branco);
    text-align: center;
    line-height: 6vh;
}

/* Main */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d64846;
    height: 88vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.perguntas-container {
    max-width: 90%;
    margin: 0 auto;
    overflow-wrap: break-word;
    text-align: center;
}

.style-text {
    font-size: 2vw;
    font-weight: bold;
    color: var(--branco);
    margin-bottom: 2vh;
    margin-top: 3vh;
}

/* Custom Radio Buttons */
.custom-radio {
    display: inline-block;
    margin: 1rem;
    text-align: center;
}

.custom-radio input[type="radio"] {
    display: none; /* Esconde o botão de rádio padrão */
}

.custom-radio label {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 2vh;
    color: var(--branco);
    background-color: #404040;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-radio input[type="radio"]:checked + label {
    background-color: #404040;
}

.custom-radio label:hover {
    background-color: #404040;
}

/* Button */
.btn-proximo {
    margin-top: 3rem;
    padding: 0.75rem 2rem;
    font-size: 2vh;
    color: var(--branco);
    background-color: #404040;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
}

.btn-proximo:hover {
    background-color: #353535;
}

/* Footer */
footer {
    background-color: #302f2f;
    height: 6vh;
    width: 100vw;
}
