* {
    border: 0px;
    padding: 0px;

}


:root {
    --vermelho-forte: rgba(#FF0400);
    --vermelho-fraco: rgba(#FF3936);
    --branca: rgba(#ffffff);
    --cinza: rgba(#828282);
    --cinza-escuro: rgba(#191919);

}

/* -------------header------------- */

header {
    background-color: none;
    height: 10%;
    width: 100%;

}

/* -------------main------------- */

main {
    background-color: none;
    height: 80%;
    width: 100%;
}

/* -------------footer------------- */

footer {
    background-color: none;
    height: 10%;
    width: 100%;
}